@model radio24by7.Models.Image

@{
    ViewBag.Title = "Upload";
    
}


<div class="Strm" style="top:auto; bottom:0px ;height:100%;">
 

    <h2>Upload</h2>
    @using (Html.BeginForm("Uploading1", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <table>
            <tr>
                <td>Select File : </td>
                <td>
                    @Html.TextBoxFor(Model => Model.File, new { type = "file" })

                    @Html.ValidationMessage("Error")
                </td>
                <td>
                    <input type="submit" value="Upload" />
                </td>
            </tr>
        </table>
    }




</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
