
<div class="Strm" style="overflow-x:scroll">
    <h2>Development  </h2>
    
    <div>
    <h2>Dr. Syed Mansoor Sarwar</h2><br />
    <p>Co-Principal Investigator</p>    
    </div>
 
   
    <div>
        <h2>Sanam Ahmad</h2>
      
        <p>Project Manager</p>
    </div>
   
  
    <div>
        <h2>Qarab Zaidi </h2>
        <p>Developer</p>
        
    </div>
    
    
    <div>
        <h2>Kamal Hasan</h2>
        <p>Developer</p>
    </div>


</div>
