@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div class="Strm">
    <h2>Your Stream</h2>




    <div align="center" colspan="2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br>
        <audio style="padding-left:30px" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " preload="auto" controls="controls" loop autoplay><source src="http://sc11.spacialnet.com:80/stream/239/" type="audio/mpeg"></audio>
    </div>





</div>
