@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PuserLayout.cshtml";
}

<div class="Strm">
    <h2>Paid Stream</h2>




    <div align="center" colspan="2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br>
        <audio style="padding-left:30px" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " preload="none" controls=""><source src="http://39.46.14.230:8000/;?icy=http" type="audio/mpeg"></audio>
    </div>





</div>